@import url('https://fonts.googleapis.com/css?family=Khula:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/** header **/
header {
    background-color: #152027;
    position: relative;
    z-index: 10;
}
h1 {
    font-family: 'Khula', sans-serif;
    font-size: 86px;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 2px #000; 
    color: #eef1fd;
}
header img {
    max-width: 500px;
    display: block;
    margin: -25px auto 0;
}

/** navigation bar **/
nav {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #152027;
    box-shadow: 0 7px 20px #2276f5;
    z-index: 7;
}
nav p {
    margin: 2px 12px;
    color: #225bfb;
    text-transform: uppercase;
    text-shadow: 0 0 2px #186ac1cc;
}
nav p.selected {
    color: #eef1fd;
}
nav p:hover {
    color: #eef1fd;
    cursor: pointer;
}

/** main content **/
main {
    background-color: #eef1fd;
    height: 800px; /* temporary */
    
}
section {
    margin: 0 auto;
    padding: 10px 0;
    width: 500px;
    text-align: center;
    display: none;
}
#projects {
    
}
#certs {
    
}
#about {
    
}

/** footer **/