@import url('https://fonts.googleapis.com/css?family=Sacramento|Khula:400,700&display=swap'); /* google fonts */
* {
    padding: 0;
    margin: 0;
}
body, html {
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    background-color: #eef1fd;
}
p a, li a {
    color: #225bfb;
}
p a:visited, li a:visited {
    color: #582290;
}
p a:hover, li a:hover {
    color: #616365;
    text-decoration: none;
}
/** header **/
header {
    padding-top: 200px;
    background-color: #152027;
    position: relative;
    z-index: 10;
}
h1 {
    padding-top: 5px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #eef1fd;
}
header img {
    max-width: 250px;
    display: block;
    margin: -15px auto 0;
}

/** navigation bar **/
nav {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #152027;
    box-shadow: 0 7px 20px #2276f5;
    z-index: 7;
}
nav p {
    margin: 2px 12px;
    color: #225bfb;
    text-transform: uppercase;
    text-shadow: 0 0 4px #2276f5;
    font-size: 14px;
}
nav p.selected {
    color: #eef1fd;
}
nav p:hover {
    color: #eef1fd;
    cursor: pointer;
}

/** main content **/
h2 {  /* hidden but here for SEO */
    color: #eef1fd; 
    font-size: 2px;
}
h3 {
    padding: 20px 0 0;
    font-size: 36px;
    color: #225bfb;
    text-shadow: 2px 2px 4px #7a96b9;
    font-family: 'Sacramento', cursive;
}
section {
    margin: 0 auto;
    padding: 10px 3px;
    text-align: center;
    display: none;
}
section li {
    list-style-type: none;
}
section p {
    font-size: 16px;
    line-height: 1.6;
}
/** about section **/
li.underline {
    font-weight: bold;
    padding-top: 15px;
}
li.underline:first-child {
    padding-top: 0;
}
/** connect section **/
#connect {
    width: 160px;
}
#flex-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    
}
#flex-container div {
    border: 3px #225bfb solid;
    border-radius: 50%;
    box-shadow: 0 0 8px 2px #2276f5 inset;
    height: 150px;
    width: 150px;
    margin: -5px -5px;
    background-image: radial-gradient(#fff 40%, transparent, transparent);
    z-index: 1;
    position: relative;    
}
#flex-container div:hover {
    border: 3px #616365 solid;
    box-shadow: 0 0 8px 2px #616365 inset;
    background: #fff;
    z-index: 10;
    position: relative;
}
#flex-container p {
    top: 45px;
    font-size: 20px;
    position: relative;
}
#flex-container a {
    color: #225bfb;
    text-decoration: none;
}
#flex-container a:hover {
    color: #616365;
}
.icon {
    top: 45px;
    position: relative;
    font-size: 2em;
}

/** changes for screens above 430px **/
@media screen and (min-width: 430px) {
    h1 {
        font-size: 50px;
    }
    nav p {
        font-size: 16px;
    }
    header img {
        max-width: 300px;
        margin: -15px auto 0;
    }
}
@media screen and (min-width: 500px) {
    #connect {
        width: 500px;
        padding-top: 50px;
    }
}
/** changes for screens above 600px **/
@media screen and (min-width: 600px) {
    h1 {
        padding-top: 12px;
        font-size: 70px;
    }
    header img {
        max-width: 450px;
        margin: -25px auto 0;
    }
    #about, #projects {
        width: 600px;
        padding: 10px 0;
    }
}
@media screen and (min-width: 770px) {
    #connect {
        width: 100%;
        padding-top: 100px;
    }
}