@import url('https://fonts.googleapis.com/css?family=Sacramento|Khula:400,700&display=swap'); /* google fonts */
* {
    padding: 0;
    margin: 0;
}
body, html {
    font-family: 'Khula', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    background-color: #eef1fd;
}
p a, li a {
    color: #225bfb;
}
p a:visited, li a:visited {
    color: #5e19f7;
}
p a:hover, li a:hover {
    color: #000;
}
/** header **/
header {
    padding-top: 200px;
    background-color: #152027;
    position: relative;
    z-index: 10;
}
h1 {
    padding-top: 5px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #eef1fd;
}
header img {
    max-width: 250px;
    display: block;
    margin: -15px auto 0;
}

/** navigation bar **/
nav {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #152027;
    box-shadow: 0 7px 20px #2276f5;
    z-index: 7;
}
nav p {
    margin: 2px 12px;
    color: #225bfb;
    text-transform: uppercase;
    text-shadow: 0 0 4px #2276f5;
    font-size: 14px;
}
nav p.selected {
    color: #eef1fd;
}
nav p:hover {
    color: #eef1fd;
    cursor: pointer;
}

/** main content **/
h2 {  /* hidden but here for SEO */
    color: #eef1fd; 
    font-size: 2px;
}
h3 {
    padding: 20px 0 0;
    font-size: 30px;
    color: #fff;
    text-shadow: 1.5px 1.5px 5px #064e9a;
    font-family: 'Sacramento', cursive;
}
section {
    margin: 0 auto;
    padding: 10px 3px;
    text-align: center;
    display: none;
}
section li {
    list-style-type: none;
}
section p {
    font-size: 16px;
    line-height: 1.6;
}
#about #icon {
    width: 30px;
}
li.underline {
    text-decoration: underline;
    padding-top: 15px;
}
li.underline:first-child {
    padding-top: 0;
}
h3 a {
    color: #225bfb;
    text-decoration: none;
    
}
h3 a:hover {
    color: #000;
}


/** footer **/

/** changes for screens above 430px **/
@media screen and (min-width: 430px) {
    h1 {
        font-size: 50px;
    }
    nav p {
        font-size: 16px;
    }
    header img {
        max-width: 300px;
        margin: -15px auto 0;
    }
}
/** changes for screens above 600px **/
@media screen and (min-width: 600px) {
    h1 {
        padding-top: 12px;
        font-size: 70px;
    }
    header img {
        max-width: 450px;
        margin: -25px auto 0;
    }
    section {
        width: 600px;
        padding: 10px 0;
    }
}